.company-upload {

	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.transparent-background {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		down: 0;
		height: 100vh;
		width: 100%;
		background: black;
		opacity: 0.5;
		z-index: -1;
	}

	.consumer-request {
		z-index: 999;
		width: 500px;
		background: white;
		display: block;
		margin: 0 auto;
		margin-top: 50px;


		.item-title {
			width: calc(100% - 80px);
			padding: 10px 40px;
			display: inline-block;
			border-bottom: 1px solid #c6c6c6;
			color: black;
			background: white;
			z-index: 100;
			font-weight: bold;
			font-size: x-large;
		}

		.price-offered {
			@extend .item-title;
			input {
				border: none; 
				font-size: medium;
				height: auto;
				width: 100%;
				outline: none;
			}
		}

		.item-size-upload {
			@extend .item-title;
			padding-top: 20px;
			padding-bottom: 20px; 
			border-bottom: none;
			.itemSize {
				margin: auto;
				display: table;
			}
		}

		.image-upload {
			font-size: 14px;
			min-height: 150px;
			display: inline-block;
			background: #e5e5e5;
			width: 100%;
			text-align: center;
			border: 2px dashed black;
			border-left: none;
			border-right: none;

			p {
				text-decoration: underline;
				font-style: bold;
				display: inline-block;
				cursor: pointer;
				color: black;
			}
		}

		.sellers-notes {
			@extend .item-title;
			border-top: none;
			textarea {
				resize: none;
				height: 50px;
				width: 100%;
				border: none;
				font-size: medium;
				outline: none;
				font-family: 'Arimo', sans-serif;
			}
		}

		.seller-link {
			@extend .price-offered;
		}

		.upload-buttons {
			padding: 40px 20px 20px;
			display: inline-block;
			width: calc(100% - 40px);
			font-weight: 900;

			.cancel-button {
				float: left;
				color: black;
				display: inline-block;
				padding: 10px 30px;
				border: 1px solid #c6c6c6;
				border-radius: 2px;
				background: #e5e5e5;
				cursor: pointer;
			}

			.submit-button {
				@extend .cancel-button;
				border: none;
				float: right;
				color: white;
				background: #609dff;
			}
		}
	}
}