$total-width: 100%;
$title-width : 60%;
$name-width : 20%;
$fb-bt-width : 20%;
$header-space : 10px;
$seller-logout-width : 20%;

@media screen and (max-width :600px){
    .title-text{
        width : 64% !important;
    }
}
.header {
	width: calc(#{$total-width} - #{$header-space * 2});
	border-bottom: 1px solid gray;
	display: inline-block;
	padding: 0 $header-space;

    .seller-login-info {
        width : 100%;
        float : left;
        text-align : center;
        color : #609dff;
        cursor : pointer;
    }

    .title-text {
        float: left;
        width: calc(#{$title-width} - #{$header-space * 2});
    }

    .header-user-name{
        width: calc(#{$name-width} - #{$header-space * 2});
        float : left;
        font-size : 80%;
        text-align : right;
        margin : 24px 0;
    }

    .dropdown {
        width : calc(#{$fb-bt-width});
        margin-top : 14px;
        position : relative;
        margin-left : 1%;
        
        display : inline-block;

        .header-photo{
            width : 42px;
            margin : auto;

            img {
                width: 100%;
                border-radius: 50px;
            }
        }

        .dropdown-content {
            width : 90px;
            height : 30px;
            z-index : 1;
            margin : 0 auto;
            padding : 2% 2% 2% 2%;
        }

        .fb-button {
            margin : 2px 2px 2px 2px;
        }
    }

    .seller-logout {
        width : calc(#{$seller-logout-width} - #{$header-space * 2});
        float : left;
        margin-top : 15px;

        .seller-logout-button {
            width : 60px;
            border-radius : 5px;
            background-color : #609dff;
            color : white;
            cursor : pointer;  
            float : right;  
            padding : 10px 10px 10px 10px;
            text-align : center;
        }

        .seller-logout-button :hover{
            background-color : #2052a3;
        }    
    }
    
}