$total-width: 100%;
$header-space: 10px;

.header {
	width: calc(#{$total-width} - #{$header-space * 2});
	border-bottom: 1px solid gray;
	display: inline-block;
	padding: 0 $header-space;
}

.header-user-name{
        width: calc(30% - 85px);
        float: left; 
}

.fb-button {
    width: 85px;
    float: left;
    margin: 18px auto;
}

.fb-login-button.fb_iframe_widget {
    float: right;
}

.title-text {
    float: left;
    width: calc(70%);
}