$total-width: 100%;
$title-width : 70%;
$name-width : 20%;
$fb-bt-width : 10%;
$header-space: 10px;

.header {
	width: calc(#{$total-width} - #{$header-space * 2});
	border-bottom: 1px solid gray;
	display: inline-block;
	padding: 0 $header-space;
}

.header-user-name{
    width: calc(#{$name-width} - 10px);
    float: left; 
    margin-right: 10px;
    text-align: right;
}

.fb-button {
    width: 85px;
    float: left;
    margin: 18px auto;    
}



.title-text {
    float: left;
    width: calc(#{$title-width} - #{$header-space * 2});
}