.display-none {
    display: none !important;
}
.offersBySellers {
    width: 100%;
    display: inline-block;
    padding-top: 20px;
}    

.imageBox {
    max-width: 230px;
    min-height: 200px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    margin : 10px;
    display: block;
    float: left;
    margin-right: 35px;
    position: relative;

    .close-btn{
        height: 25px;
        width: 25px;
        font-size: 19px;
        text-align: center;
        border-radius : 50%;
        background: white;
        border : 1px solid #c6c6c6;
        cursor : pointer;
        position: absolute;
        top: -14px;
        left: -14px;
        color:  #c6c6c6;
    }

    .personName{
        width : 100%;
        text-align : center;
        border-bottom: 0.05em solid #eaecef;
        padding: 10px 0;
        font-weight: 900;
    }

    .boxImage{
        width : calc(100% - 20px);
        min-height: 200px;
        margin : 0 auto;
        padding: 10px;
        clear: both;
        text-align: center;
        border-bottom: 0.05em solid #eaecef;

        img{
            width : 100%;
            margin : auto;
        }
    }

    .footer{
        width: calc(100% - 20px);
        padding: 10px;
        min-height : 30px;

        .footer-price{
            float: left;
            display: inline-block;
            font-size: 30px;
            line-height: 30px;
            font-weight: 900;            
        }

        .accept-btn{
            color: white;
            background: #609dff;
            border-radius: 5px;
            cursor: pointer;
            font-size: 10px;
            float: right;
            text-align: center;
            text-transform: uppercase;
            font-weight: 900;
            padding: 10px 25px;
        }

        .rejected-button, .inProcess-button {
            @extend .accept-btn;
        }

        .red-btn {
            background: red;
        }

        .green-btn {
            background: green;
        }
    }

}

