.display-none {
    display: none !important;
}

.imageBox {
    min-width: 250px;
    min-height: 200px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    margin : 10px;
    padding: 10px;
    display: block;
    float: left;

    .close-btn{
        height: 25px;
        width: 25px;
        font-size: 19px;
        text-align: center;
        border-radius : 50%;
        background: white;
        border : 1px solid #c6c6c6;
        cursor : pointer;
        margin-top: -24px;
        margin-left: -24px;
        color:  #c6c6c6;
    }

    .personName{
        width : 100%;
        text-align : center;
        border-bottom: 1px solid #eaecef;
    }

    .boxImage{
        width : 90%;
        min-height: 200px;
        margin : 0 auto;
        position: relative;

        img{
            width : 100%;
            margin : auto;
            position : absolute;
            top: 0;
            bottom: 0;
        }
    }

    .footer{
        width: 90%;
        min-height : 30px;
        margin : 4 auto;

        .footer-price{
            width: 70px;
            height : 29px;
            border : 1px solid grey;
            float: left;
        }

        .accept-btn{
            min-width: 100px;
            height : 30px;
            line-height: 25px;
            color: white;
            background: #609dff;
            border-radius: 5px;
            cursor: pointer;
            font-size: 15px;
            float: right;
            text-align: center;
            padding-top : 5px;
        }

        .rejected-button, .inProcess-button {
            @extend .accept-btn;
        }

        .red-btn {
            background: red;
        }

        .green-btn {
            background: green;
        }
    }

}

