$total-width: 100% ;
$category-width: 80%;

.category{
    width: $total-width;
    float: left;
    font-family: 'Arimo', sans-serif;

    @media screen and (min-width : 542px){
        .itemRequest{
            height: 30px;
            width: $category-width;
            border : 1px solid #d9d9d9;
            float: left;
            margin-top: 1vw;
            display: block;
            margin-right: 2.5vw;
            padding : 5px 5px 5px 5px;

            .singleItem{
                float: left;
                display: inline;
                margin-right : 60px;
                padding-top: 5px;
                font-size: 15px;
            }
        }

        .itemRequestBtn{
            width: 10%;
            float: left;
            font-size: 15px;
            padding: 10px 10px 10px 10px;
            margin-top: 1vw;
            text-align: center;
            color: white;
            background: #ff751a;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    @media screen and (max-width : 541px){
        .itemRequest{
            height: 30px;
            width : 100%;
            border : 1px solid #d9d9d9;
            float: left;
            margin-top: 1vw;
            display: block;
             padding : 5px 5px 5px 5px;

            .singleItem{
                float: left;
                display: inline;
                margin-right : 20px;
                padding-top: 5px;
                font-size: 15px;
            }
        }

        .itemRequestBtn{
            float: left;
            width: 95%;
            font-size: 15px;
            padding: 10px 10px 10px 10px;
            margin-top: 0.7vw;
            text-align: center;
            color: white;
            background: #ff751a;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    input[type="checkbox"]:checked + label::after {
       content: '';
       position: absolute;
       width: 1.2ex;
       height: 0.4ex;
       top: 0.7ex;
       left: 0.4ex;
       border: 2px solid white;
       border-top: none;
       border-right: none;
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       transform: rotate(-45deg);
    }

    input[type="checkbox"]:checked + label::before {
        background-color : #609dff;
    }

    input[type="checkbox"] {
       line-height: 2.1ex;
    }

    input[type="checkbox"] {
        position: absolute;
        left: -999em;
    }

    input[type="checkbox"] + label {
        position: relative;
        overflow: hidden;
        cursor: pointer; 

    }

    input[type="checkbox"] + label::before {
       content: "";
       display: inline-block;
       vertical-align: -25%;
       height: 2ex;
       width: 2ex;
       border: 1px solid #d9d9d9;
       background-color: white;
       border-radius: 1px;
       margin-right: 0.5em;
    }

 
}
