/*
	Media query for login and signup page
*/

@media (max-width : 319px) {

	.seller-login, .seller-signup {
		width: calc(100% - 40px) !important;
		padding: 20px 0px !important;

		input {
			width: 85% !important;
		}
	}

}

@media (min-width : 320px) 
and (max-width : 480px)  {
	.seller-login, .seller-signup {
		width: calc(100% - 40px) !important;

		input {
			width: 85% !important;
		}
	}
}

@media (min-width : 481px) 
and (max-width : 767px)  {
	.seller-login, .seller-signup {

		input {
			width: 85% !important;
		}
	}
}
