.did-you-buy, .keep-posted {

  font-size: 16px;
  text-align: center;

  .popup-backgraound, .keep-posted-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #c6c6c6;
    opacity: 0.7;
    z-index: 1;
  }

  .did-you-buy-container, .keep-posted-container {

    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    height: 90px;
    min-width: 130px;
    max-width: 200px;
    border: 1px solid #c6c6c6;
    margin: 0 auto; 
    display: block;
    margin-top: 150px;
    padding: 30px 50px;

    .popup-text {
      width: 100%;
      height: 52px;
    }

    .yes-button, .no-button {
      text-align: center;
      padding: 10px 20px;
      color: white;
      cursor: pointer;
    }

    .yes-button {
      background: green;
      float: left;
    }
    .no-button {
      background: red;
      float: right;
    }
  }
}
.keep-posted {
  .keep-posted-bg {
    z-index: 3;
  }
  .keep-posted-container {
    z-index: 4;
  }
}

.show80percent {

  @extend .did-you-buy;

  .popup-backgraound {
    @extend .popup-backgraound;
    background: white;
    z-index: 15;
  }

  .show80percent-container {
    @extend .did-you-buy-container;
    z-index: 16;
  }

  .no-button {
    @extend .no-button;
  }

  .yes-button {
    @extend .yes-button;
  }
}