.did-you-buy, .keep-posted {

  font-size: 16px;
  text-align: center;

  .popup-backgraound, .keep-posted-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: white;
    opacity: 0.7;
    z-index: 1;
  }

  .did-you-buy-container, .keep-posted-container {
    z-index: 2;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 230px;
    width: 30%;
    margin: 0 auto;
    margin-top: 215px;
    display: inline-block;
    box-shadow: 1px 1px 2px 1px #c6c6c6;
    border-radius: 3px;    

    .popup-text {
      width: calc(100% - 85px);
      display: inline-block;
      padding: 25px;
      text-align: left;
      color: gray;
      line-height: 25px;
      padding-right: 60px;
    }

    .yes-button, .no-button {
      text-align: center;
      padding: 10px 20px;
      color: white;
      cursor: pointer;
    }

    .yes-button {
      background: green;
      float: left;
    }
    .no-button {
      background: red;
      float: right;
    }
  }
}
.keep-posted {
  .keep-posted-bg {
    z-index: 3;
  }
  .keep-posted-container {
    z-index: 4;
  }
}

.show80percent {

  @extend .did-you-buy;

  .popup-backgraound {
    @extend .popup-backgraound;
    background: white;
    z-index: 15;
  }

  .show80percent-container {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 230px;
    width: 30%;
    margin: 0 auto;
    margin-top: 215px;
    display: inline-block;
    box-shadow: 1px 1px 2px 1px #c6c6c6;
    border-radius: 3px;
    z-index: 16;
  }

  .no-button {
    @extend .no-button;
  }

  .yes-button {
    @extend .yes-button;
  }
}