
.requestSelector{
    width : 100%;
    height : 25px;
    float: left;
    display : inline-block;
    margin : 5px auto;
    padding : 5px;
    position: relative;

}

.everybody, .individual {
    position: absolute;
    font-size : 25px;
    padding-bottom: 10px;
    font-weight: lighter;
}

.everybody{
    width : 15%;
    float: left;
    text-align : center;
    border-bottom : 3px solid #609dff;
    color : #609dff;
    right: 50%;
    padding-bottom: 9px;
    font-weight: 900;
    &:hover{
        color : #609dff;
        border-color : #609dff;
        cursor: pointer;
    }
}

.individual{
    width : 15%;
    float: left;
    text-align: center;
    border-bottom : 1px solid #c6c6c6;
    left: 50%;

    &:hover{
        color : #609dff;
        border-color : #609dff;
        cursor : pointer;
    }
}

@media only screen 
and (min-width : 320px) 
and (max-width : 768px){
    .requestSelector{
        width : 100%;
        height : 25px;
        display : inline;
        margin : 5px auto;
        padding : 5px 5px 5px 5px;
    }

    .everybody{
        margin-left : 25%;
        font-size : 20px;
        width : 100px;
        float: left;
        text-align : center;
        border-bottom : 1px solid grey;

        &:hover{
            color : #609dff;
            border-color : #609dff;
            cursor: pointer;
        }
    }

    .individual{
        width : 100px;
        font-size : 20px;
        float: left;
        text-align: center;
        border-bottom : 1px solid grey;

        &:hover{
            color : #609dff;
            border-color : #609dff;
            cursor : pointer;
        }
    }
}