$min-height: 500px;

body {
	font-family: 'Arimo', sans-serif;
	margin: 0;
}

.container{
	width: 80%;
	min-height: $min-height;
	margin: 0 auto;
}

.loading {
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  width: 100%;
  background: white;
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

@import "header";
@import "userDetails";
@import "userDetailsMedia";
@import "noUser";
@import "singleRequest";
@import "loginAndSignupForm";
@import "loginAndSignupMedia";
@import "basePage";
@import "itemSize";
@import "itemRequest";
@import "imageBox";
@import "requestType";
@import "companyUpload";
@import "popup";
